#home {
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    height:100%;
    & > header {
        height: 8vh;
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
    	box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
    	font-size: 14px;
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
    	z-index: 100;
    	background-color: #fff;

    	& > h1 {
    	    display:none;
    	}

        &>section {
            grid-column: 2/3;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > figure {
                & > img {
                    width: 25%;
                }
            }

            & > nav {
                padding-right: 16vw;
                & > ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & > li {
                        font-size:1.2em;
                        text-transform:uppercase;
                        font-weight:600;
                        padding:0 1.5vw;

                        & > a {
                            text-decoration:none;
                            color:black;
                        }
                    }
                }
            }

            & > ul {
                display:flex;
                height:100%;
                width:5vw;
                align-items:center;
                justify-content:space-between;

                & > li {
                    width:10vw;
                    font-size: 1.3em;
                    padding: 0 .5vW;
                }

                & > li:first-of-type {
                    border-right: 1px solid rgba(48, 68, 78, 0.3);
                    padding-right:1vw;

                }

                & > li:nth-of-type(2) {
                    padding-left: 1vw;
                }
            }
        }
    }

    & > main {
        padding-top:15vh;
        grid-column:2/3;
        display:grid;
        grid-template-columns: 1fr 0.5fr;

        & > .article-feed {
            display:grid;

            & > .display-none {
                display: none;
            }

            & > article:nth-of-type(4) {
                & > header {
                    display:flex;
                    justify-content:space-between;
                    height:40vh;
                }
            }


            & > article {
                border:2px solid RGBa(134, 142, 150, 0.1);
                border-radius:15px;
                background-color:RGBa(173, 181, 189, 0.1);
                margin-bottom:3vh;
                padding-bottom:2vh;
                box-shadow: 5px 5px 5px 0 rgba(48, 68, 78, 0.1);

                & > .video {
                        height:40vh;
                    & > figure {
                        width:100%;
                        height:100%;

                        & > figcaption {
                            display: none;
                        }

                        & > iframe {
                            width:100%;
                            height:100%;
                        }
                    }
                }

                & > .img {
                    height:50vh;
                    overflow:hidden;

                    & > figure {
                        width:100%;


                        & > iframe {
                            width:100%;
                        }

                        & > img {
                            width:100%;
                        }
                    }
                }

                & > .main-article {
                        padding: 2vh 1vw;

                    & > header {
                        text-align:center;

                        & > span {
                            text-transform:uppercase;
                            font-weight:500;
                            font-size:1.1em;
                            text-decoration: underline 4px solid RGB(131, 78, 86);
                        }

                        & > h3 {
                            font-size: 2em;
                            font-weight:bold;
                            padding: 1vh 0;
                        }

                        & > ul {
                            display:flex;
                            align-items: center;
                            justify-content:center;
                            padding-bottom:2vh;

                            & > li {
                                padding: 0 .5vw;
                                font-size:1.2em;
                                color: RGB(131, 78, 86);
                            }
                        }
                    }

                    & > p {
                        font-size:1.3em;
                        text-align:center;
                        padding-bottom:2vh;
                    }

                    & > footer {
                        text-align:center;
                        padding:1vh 0;
                        font-size:1.4em;
                        font-weight:bold;
                        text-transform:uppercase;
                        color:black;

                        & > a {
                            color:black;
                            text-decoration:underline 8px solid RGB(131, 78, 86);
                        }
                    }
                }
            }


            & > blockquote {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align:center;
                border:2px solid RGBa(134, 142, 150, 0.1);
                background-color:RGBa(173, 181, 189, 0.1);
                border-radius:15px;
                padding: 5vh 0;
                font-size: 1.5em;
                box-shadow: 5px 5px 5px 0 rgba(48, 68, 78, 0.1);
                margin: 0vh 0 3vh 0;

                & > span {
                    background-color:orange;
                    border-radius:60px;
                    font-size:1.5em;
                    padding: 0.5vh 0.5vw;

                }

                & > p {
                    padding: 3vh 0;
                    font-weight:bold;
                }

                & > h4 {
                    text-transform:uppercase;
                    font-size:.8em;
                }


            }

            & > .btn-feed {
                height:6vh;
                width:10vw;
                border-radius:10px;
                background-color:RGBa(131, 78, 86, 0.9);
                justify-self:center;
                align-self:center;
                text-transform:uppercase;
                font-weight:bold;
                color:white;
                font-size:0.9em;
                border:none;
                box-shadow: 3px 3px 0 0 rgba(48, 68, 78, 0.3);
            }
        }

        & > aside {
            padding: 0 3vw;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:space-between;

            & > #aside-categories {
                display: flex;
                flex-direction: column;
                width:100%;

                & > header {
                    padding-bottom:3vh;
                    & > h2 {
                        font-size:1.3em;
                        text-transform:uppercase;
                        font-weight:bold;
                    }
                }

                & > ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
